body {
  background-color: rgb(255, 196, 0);
  font-family: Arial;
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

.first {
  color: rgb(29, 15, 15);
}

#your-name {
  background-color: rgb(235, 238, 243);
  border: 5px solid rgb(17, 14, 14);
}

#your-name h2 {
  color: rgb(19, 7, 7);
}
